In [19]:
import sys

sys.path.append("../../")
import pandas as pd
import torch
import numpy as np
import datetime

# that is something to
import os
from pprint import pprint
import math
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 20)

plt.style.use("classic")
plt.rcParams["axes.grid"] = True
plt.rcParams["figure.figsize"] = (10, 6)
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["axes.formatter.limits"] = [-1000000000, 1000000000]

In [23]:
import statsmodels.api as sms
from statsmodels.stats.outliers_influence import variance_inflation_factor as VIF
from statsmodels.stats.anova import anova_lm
import ISLP as islp

In [24]:
df = islp.load_data("Boston")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [25]:
X = pd.DataFrame(
    {
        "intercept": np.ones(df.shape[0]),
        "lstats": df["lstat"],
    }
)
X

     intercept  lstats
0          1.0    4.98
1          1.0    9.14
2          1.0    4.03
3          1.0    2.94
4          1.0    5.33
..         ...     ...
501        1.0    9.67
502        1.0    9.08
503        1.0    5.64
504        1.0    6.48
505        1.0    7.88

[506 rows x 2 columns]

In [26]:
y = df["medv"]
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: medv, Length: 506, dtype: float64